<div class="row">
    <div class="col-lg-12">
        <h2 class="style-2">All Collections</h2>
       
    </div>
    <div id="collection-carousel-alt" class="owl-carousel wow fadeIn">

        {% for block in site.data.nft.nft_cat_name %}
       
       <!--{% increment my_counter %}-->
        <div class="nft_coll">
            <div class="nft_wrap">
                <a href="/_nftlists/nftlist3.html?catno={{ my_counter | minus: 1 }}"><img src="/images/nft/{{ block.cat_name }}/{{ block.cat_background_image }}" class="lazy img-fluid" alt=""></a>
            </div>
            <div class="nft_coll_pp">
                <a href="/_nftlists/nftlist3.html?catno={{ my_counter | minus: 1 }}"><img class="lazy pp-coll" src="/images/nft/{{ block.cat_name }}/{{ block.cat_image }}" alt=""></a>
                <!-- <i class="fa fa-check"></i>-->
            </div>
            <div class="nft_coll_info">
                <a href="/_nftlists/nftlist3.html?catno={{ my_counter | minus: 1 }}"><h4>{{ block.cat_name }}</h4></a>
               <!-- <span>ERC-192</span>-->
            </div>
        </div>
    
      {% endfor %}

      {% for block in site.data.nft1.nft_cat_name %}
      <!--{% increment my_counter %}-->

      <div class="nft_coll">
          <div class="nft_wrap">
              <a href="/_nftlists/nftlist3.html?catno={{ my_counter | minus: 1 }}"><img src="/images/nft/{{ block.cat_name }}/{{ block.cat_background_image }}" class="lazy img-fluid" alt=""></a>
          </div>
          <div class="nft_coll_pp">
              <a href="/_nftlists/nftlist3.html?catno={{ my_counter | minus: 1 }}"><img class="lazy pp-coll" src="/images/nft/{{ block.cat_name }}/{{ block.cat_image }}" alt=""></a>
              <!-- <i class="fa fa-check"></i>-->
          </div>
          <div class="nft_coll_info">
              <a href="collection.html"><h4>{{ block.cat_name }}</h4></a>
             <!-- <span>ERC-192</span>-->
          </div>
      </div>
  
    {% endfor %}
          
            
        </div>
    </div>