<div class="row cols-5 wow fadeIn"> 
    <div id="new_dude3" class="col-lg-12">
        <h2 class="style-2">New Items</h2>
    </div>

   
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="de_countdown bg-color-secondary text-white" data-year="2023" data-month="6" data-day="6" data-hour="8"></div>
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Mamie Barnett">                                    
                    <img class="lazy" src="/images/author/author-2.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-2.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Running Puppets</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.03 ETH<span>1/24</span>
                </div>    
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>45</span>
                </div>                                  
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Nicholas Daniels">                                    
                    <img class="lazy" src="/images/author/author-3.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-1.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>USA Wordmation</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.09 ETH<span>1/25</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>76</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="de_countdown bg-color-secondary text-white" data-year="2023" data-month="6" data-day="8" data-hour="8"></div>
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Lori Hart">                                    
                    <img class="lazy" src="/images/author/author-4.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-5.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Loop Donut</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.09 ETH<span>1/14</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>94</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Jimmy Wright">                                    
                    <img class="lazy" src="/images/author/author-5.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-3.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Lady Copter</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<span>1/21</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>75</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Gayle Hicks">                                    
                    <img class="lazy" src="/images/author/author-7.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/static-5.jpg" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Purple Planet</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.02 ETH<span>1/18</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>93</span>
                </div>                                 
            </div> 
        </div>
    </div>
</div>

<script>
    // var myParam = location.search.split('catno=')[1]
    
 function loadDoc() {
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
   // document.getElementById("demo").innerHTML = this.responseText;
//testing -------------------------------
function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
      }
      let elem = document.createElement("div");
      elem.setAttribute('id', 'my-id');
elem.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem.setAttribute('style', 'display: block; background-size: cover;');

let elem1 = document.createElement("div");
      elem1.setAttribute('id', 'my-id');
elem1.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem1.setAttribute('style', 'display: block; background-size: cover;');

let elem2 = document.createElement("div");
      elem2.setAttribute('id', 'my-id');
elem2.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem2.setAttribute('style', 'display: block; background-size: cover;');
    

let elem3 = document.createElement("div");
      elem3.setAttribute('id', 'my-id');
elem3.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem3.setAttribute('style', 'display: block; background-size: cover;');

let elem4 = document.createElement("div");
      elem4.setAttribute('id', 'my-id');
elem4.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem4.setAttribute('style', 'display: block; background-size: cover;');
    

const data441 = JSON.parse(this.responseText);
const myParam = Math.floor(Math.random() * data441.length);
const myParam1 = Math.floor(Math.random() * data441.length);
const myParam2 = Math.floor(Math.random() * data441.length);
const myParam3 = Math.floor(Math.random() * data441.length);
const myParam4 = Math.floor(Math.random() * data441.length);
const myParam5 = Math.floor(Math.random() * data441.length);
const myParam6 = Math.floor(Math.random() * data441.length);
const myParam7 = Math.floor(Math.random() * data441.length);
const myParam8 = Math.floor(Math.random() * data441.length);
const myParam9 = Math.floor(Math.random() * data441.length);
    console.log(data441[myParam]);
    console.log(data441[myParam1]);
    console.log(data441[myParam2]);
    console.log(data441[myParam3]);
    console.log(data441[myParam4]);
    console.log(data441[myParam5]);
    console.log(data441[myParam6]);
    console.log(data441[myParam7]);
    console.log(data441[myParam8]);
    console.log(data441[myParam9]);


    elem.innerHTML = ` <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam].cat_name+`">                                    
                    <img class="lazy" src="/images/nft/`+data441[myParam].cat_name+`/`+data441[myParam].cat_image+`" alt="">
                 
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/nft/`+data441[myParam].cat_name+`/`+data441[myParam].url+`" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>`+data441[myParam].cat_name+`</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<!--<span>1/20</span>-->
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                                        
            </div> 
        </div>`;

        elem1.innerHTML = ` <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam].cat_name+`">                                    
                    <img class="lazy" src="/images/nft/`+data441[myParam1].cat_name+`/`+data441[myParam1].cat_image+`" alt="">
                 
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/nft/`+data441[myParam1].cat_name+`/`+data441[myParam1].url+`" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>`+data441[myParam1].cat_name+`</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<!--<span>1/20</span>-->
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                                        
            </div> 
        </div>`;
        elem2.innerHTML = ` <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam].cat_name+`">                                    
                    <img class="lazy" src="/images/nft/`+data441[myParam2].cat_name+`/`+data441[myParam2].cat_image+`" alt="">
                 
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/nft/`+data441[myParam2].cat_name+`/`+data441[myParam2].url+`" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>`+data441[myParam2].cat_name+`</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<!--<span>1/20</span>-->
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                                        
            </div> 
        </div>`;
        elem3.innerHTML = ` <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam].cat_name+`">                                    
                    <img class="lazy" src="/images/nft/`+data441[myParam3].cat_name+`/`+data441[myParam3].cat_image+`" alt="">
                 
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/nft/`+data441[myParam3].cat_name+`/`+data441[myParam3].url+`" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>`+data441[myParam3].cat_name+`</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<!--<span>1/20</span>-->
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                                        
            </div> 
        </div>`;
        elem4.innerHTML = ` <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam].cat_name+`">                                    
                    <img class="lazy" src="/images/nft/`+data441[myParam4].cat_name+`/`+data441[myParam4].cat_image+`" alt="">
                 
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/nft/`+data441[myParam4].cat_name+`/`+data441[myParam4].url+`" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>`+data441[myParam4].cat_name+`</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<!--<span>1/20</span>-->
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                                        
            </div> 
        </div>`;
      let div = document.getElementById("new_dude3");
      insertAfter(div, elem);
      insertAfter(div, elem1);
      insertAfter(div, elem2);
      insertAfter(div, elem3);
      insertAfter(div, elem4);


  

//testing -------------------------------
  }
  xhttp.open("GET", "/nftall.json", true);
  xhttp.send();
}
loadDoc();


</script>