<div class="row cols-5 wow fadeIn"> 
    <div id="new_dude3" class="col-lg-12">
        <h2 class="style-2">New Items</h2>
    </div>

</div>

<script>
    // var myParam = location.search.split('catno=')[1]
    
 function loadDoc() {
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
   // document.getElementById("demo").innerHTML = this.responseText;
//testing -------------------------------
function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
      }
let elem = document.createElement("div");
elem.setAttribute('id', 'my-id');
elem.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem.setAttribute('style', 'display: block; background-size: cover;');

let elem1 = document.createElement("div");
elem1.setAttribute('id', 'my-id');
elem1.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem1.setAttribute('style', 'display: block; background-size: cover;');

let elem2 = document.createElement("div");
elem2.setAttribute('id', 'my-id');
elem2.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem2.setAttribute('style', 'display: block; background-size: cover;');
    

let elem3 = document.createElement("div");
elem3.setAttribute('id', 'my-id');
elem3.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem3.setAttribute('style', 'display: block; background-size: cover;');

let elem4 = document.createElement("div");
elem4.setAttribute('id', 'my-id');
elem4.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem4.setAttribute('style', 'display: block; background-size: cover;');

let elem5 = document.createElement("div");
elem5.setAttribute('id', 'my-id');
elem5.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem5.setAttribute('style', 'display: block; background-size: cover;');

let elem6 = document.createElement("div");
elem6.setAttribute('id', 'my-id');
elem6.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem6.setAttribute('style', 'display: block; background-size: cover;');

let elem7 = document.createElement("div");
elem7.setAttribute('id', 'my-id');
elem7.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem7.setAttribute('style', 'display: block; background-size: cover;');

let elem8 = document.createElement("div");
elem8.setAttribute('id', 'my-id');
elem8.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem8.setAttribute('style', 'display: block; background-size: cover;');
    

let elem9 = document.createElement("div");
elem9.setAttribute('id', 'my-id');
elem9.setAttribute('class', 'd-item col-sm-6 col-md-4 col-lg-1-5');
elem9.setAttribute('style', 'display: block; background-size: cover;');


const data441 = JSON.parse(this.responseText);
const myParam = Math.floor(Math.random() * data441.length);
const myParama = Math.floor(Math.random() * data441[myParam].data.length);
const myParam1 = Math.floor(Math.random() * data441.length);
const myParam1a = Math.floor(Math.random() * data441[myParam1].data.length);
const myParam2 = Math.floor(Math.random() * data441.length);
const myParam2a = Math.floor(Math.random() * data441[myParam2].data.length);
const myParam3 = Math.floor(Math.random() * data441.length);
const myParam3a = Math.floor(Math.random() * data441[myParam3].data.length);
const myParam4 = Math.floor(Math.random() * data441.length);
const myParam4a = Math.floor(Math.random() * data441[myParam4].data.length);
const myParam5 = Math.floor(Math.random() * data441.length);
const myParam5a = Math.floor(Math.random() * data441[myParam5].data.length);
const myParam6 = Math.floor(Math.random() * data441.length);
const myParam6a = Math.floor(Math.random() * data441[myParam6].data.length);
const myParam7 = Math.floor(Math.random() * data441.length);
const myParam7a = Math.floor(Math.random() * data441[myParam7].data.length);
const myParam8 = Math.floor(Math.random() * data441.length);
const myParam8a = Math.floor(Math.random() * data441[myParam8].data.length);
const myParam9 = Math.floor(Math.random() * data441.length);
const myParam9a = Math.floor(Math.random() * data441[myParam9].data.length);
console.log("this is collection name "+data441[myParam].name);
const myParamname = data441[myParam].name;
const myParamimage = data441[myParam].cat_image;
    console.log(data441[myParam]);
    console.log(data441[myParam1]);
    console.log(data441[myParam2]);
    console.log(data441[myParam3]);
    console.log(data441[myParam4]);
    console.log(data441[myParam5]);
    console.log(data441[myParam6]);
    console.log(data441[myParam7]);
    console.log(data441[myParam8]);
    console.log(data441[myParam9]);


elem.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+myParamname+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam].name+`/`+data441[myParam].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam].name+`/`+data441[myParam].cat_image+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam1].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;

    elem1.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam1]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam1].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam1].name+`/`+data441[myParam1].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam1].name+`/`+data441[myParam1].data[myParama].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;
    elem2.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam2]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam2].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam2].name+`/`+data441[myParam2].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam2].name+`/`+data441[myParam2].data[myParam2a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam2].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;
    elem3.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam3]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam3].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam3].name+`/`+data441[myParam3].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam3].name+`/`+data441[myParam3].data[myParam3a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam3].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;
    elem4.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam4]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam4].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam4].name+`/`+data441[myParam4].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam4].name+`/`+data441[myParam4].data[myParam4a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam4].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;
    elem5.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam5]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam5].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam5].name+`/`+data441[myParam5].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam5].name+`/`+data441[myParam5].data[myParam5a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam5].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;

    elem6.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam6]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam6].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam6].name+`/`+data441[myParam6].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam6].name+`/`+data441[myParam6].data[myParam6a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam6].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;
    elem7.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam7]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam7].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam7].name+`/`+data441[myParam7].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam7].name+`/`+data441[myParam7].data[myParam7a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam7].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;
    elem8.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam8]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam8].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam8].name+`/`+data441[myParam8].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam8].name+`/`+data441[myParam8].data[myParam8a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam8].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;
    elem9.innerHTML = ` <div class="nft__item">
        <div class="author_list_pp">
            <a href="/_nftlists/nftlist3.html?catno=`+data441[myParam9]+`" data-bs-toggle="tooltip" data-bs-placement="top" title="Collection: `+data441[myParam9].name+`">                                    
                <img class="lazy" src="/images/nft/`+data441[myParam9].name+`/`+data441[myParam9].cat_image+`" alt="">
                
            </a>
        </div>
        <div class="nft__item_wrap">
            <div class="nft__item_extra">
                <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                        <h4>Share</h4>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <a href="item-details.html">
                <div class="d-placeholder"></div>
                <img src="/images/nft/`+data441[myParam9].name+`/`+data441[myParam9].data[myParam9a].url+`" class="lazy nft__item_preview" alt="">
            </a>
        </div>
        <div class="nft__item_info">
            <a href="item-details.html">
                <h4>`+data441[myParam9].name+`</h4>
            </a>
            <div class="nft__item_click">
                <span></span>
            </div>
            <div class="nft__item_price">
                0.08 ETH<!--<span>1/20</span>-->
            </div>
            <div class="nft__item_action">
                <a href="#">Place a bid</a>
            </div>
                                    
        </div> 
    </div>`;

      let div = document.getElementById("new_dude3");
      insertAfter(div, elem);
      insertAfter(div, elem1);
      insertAfter(div, elem2);
      insertAfter(div, elem3);
      insertAfter(div, elem4);
      insertAfter(div, elem5);
      insertAfter(div, elem6);
      insertAfter(div, elem7);
      insertAfter(div, elem8);
      insertAfter(div, elem9);


  

//testing -------------------------------
  }
  xhttp.open("GET", "/nft.json", true);
  xhttp.send();

const xhttp1 = new XMLHttpRequest();
xhttp1.onload = function() {
    const data441a = JSON.parse(this.responseText);
    const myParama = Math.floor(Math.random() * data441a.length);
    const myParama1 = Math.floor(Math.random() * data441a[myParama].data.length);
    console.log(myParama);
    console.log(data441a.length);
    console.log(myParama1);
    console.log(data441a[myParama].name);
    console.log(data441a[myParama].cat_image);
    console.log(data441a[myParama].data[myParama1].url);
    console.log(data441a[myParama].data.length);
    console.log("shit dude");
};
  xhttp1.open("GET", "/nft.json", true);
  xhttp1.send();
}
loadDoc();


</script>