<div class="row cols-5 wow fadeIn"> 
    <div class="col-lg-12">
        <h2 class="style-2">New Items</h2>
    </div>

    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="de_countdown bg-color-secondary text-white" data-year="2023" data-month="6" data-day="16" data-hour="8"></div>
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">                                    
                    <img class="lazy" src="/images/author/author-1.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/static-1.jpg" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Pinky Ocean</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<span>1/20</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>50</span>
                </div>                            
            </div> 
        </div>
    </div>                 
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Stacy Long">                                    
                    <img class="lazy" src="/images/author/author-10.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/static-2.jpg" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Deep Sea Phantasy</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.06 ETH<span>1/22</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>80</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="de_countdown bg-color-secondary text-white" data-year="2023" data-month="6" data-day="14" data-hour="8"></div>
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Ida Chapman">                                    
                    <img class="lazy" src="/images/author/author-11.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/static-3.jpg" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Rainbow Style</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.05 ETH<span>1/11</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>97</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Fred Ryan">                                    
                    <img class="lazy" src="/images/author/author-12.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/static-4.jpg" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Two Tigers</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.02 ETH<span>1/15</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>73</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Franklin Greer">                                    
                    <img class="lazy" src="/images/author/author-9.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-4.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>The Truth</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.06 ETH<span>1/20</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>26</span>
                </div>                                 
            </div>
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="de_countdown bg-color-secondary text-white" data-year="2023" data-month="6" data-day="6" data-hour="8"></div>
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Mamie Barnett">                                    
                    <img class="lazy" src="/images/author/author-2.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-2.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Running Puppets</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.03 ETH<span>1/24</span>
                </div>    
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>45</span>
                </div>                                  
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Nicholas Daniels">                                    
                    <img class="lazy" src="/images/author/author-3.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-1.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>USA Wordmation</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.09 ETH<span>1/25</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>76</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="de_countdown bg-color-secondary text-white" data-year="2023" data-month="6" data-day="8" data-hour="8"></div>
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Lori Hart">                                    
                    <img class="lazy" src="/images/author/author-4.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-5.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Loop Donut</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.09 ETH<span>1/14</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>94</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Jimmy Wright">                                    
                    <img class="lazy" src="/images/author/author-5.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/anim-3.webp" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Lady Copter</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.08 ETH<span>1/21</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>75</span>
                </div>                                 
            </div> 
        </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-sm-6 col-md-4 col-lg-1-5">
        <div class="nft__item">
            <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Gayle Hicks">                                    
                    <img class="lazy" src="/images/author/author-7.jpg" alt="">
                    <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="nft__item_wrap">
                <div class="nft__item_extra">
                    <div class="nft__item_buttons">
                        <button onclick="location.href='item-details.html'">Buy Now</button>
                        <div class="nft__item_share">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="item-details.html">
                    <div class="d-placeholder"></div>
                    <img src="/images/items/static-5.jpg" class="lazy nft__item_preview" alt="">
                </a>
            </div>
            <div class="nft__item_info">
                <a href="item-details.html">
                    <h4>Purple Planet</h4>
                </a>
                <div class="nft__item_click">
                    <span></span>
                </div>
                <div class="nft__item_price">
                    0.02 ETH<span>1/18</span>
                </div>
                <div class="nft__item_action">
                    <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                    <i class="fa fa-heart"></i><span>93</span>
                </div>                                 
            </div> 
        </div>
    </div>
</div>