<!DOCTYPE html>
<html>
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" href="MarineGuard.css">
  <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
  <script src="MarineGuard.js"></script>

 
</head>

<body>
  <div class="marinelogo"> <img style="width:5% !important;" src="/images/marineguardlogo.jpg" id="logo">
    <h1 style="float: right">MarineGuard</h1>
  </div>
  <div>
    <ul style="width: 100%;" class="topnav">
      <li><a href="homepage.html">Home</a></li>
      <li><a href="minting.html">Mint</a></li>
      <li><a href="buying.html">Buy</a></li>
      <li><a href="aboutus.html">About us</a></li>
      <li><a href="contactus.html">Contact us</a></li>
      <img style="float: right;width:45.6px" src="/images/cart.png" />
      <input type="text" placeholder="Search our NFTs">
  
    </ul>
    </div>
  <div>
  <h1>home</h1>
  <p>about MarineGuard</p>
  <p>a NFT platform where you buy your favourite NFTs and donate to Marine pollution reduction.</p>
  <button class="connect-button" id="dude123">Connect to MetaMask</button>
  </div>
</body>
<script src="/js/index1.js"></script>
</html>
