
<!DOCTYPE html>
<html lang="zxx">

    {% include head.html %}
<script>
    var myParam = location.search.split('catno=')[1];
    var hrs = myParam.split('&')[0];
   // var input = myParam.Substring(0, myParam.IndexOf("/") + 1)
    var myParam1 = location.search.split('nftno=')[1]
    console.log(hrs, myParam1)
    function loadDoc() {
      

const xhttp1 = new XMLHttpRequest();
xhttp1.onload = function() {
    const data441a = JSON.parse(this.responseText);
    //const myParama = Math.floor(Math.random() * data441a.length);
    //const myParama1 = Math.floor(Math.random() * data441a[myParama].data.length);
  //  console.log(myParama);
    console.log(data441a.length);
 //   console.log(myParama1);
    console.log(data441a[hrs].name);
    console.log(data441a[hrs].cat_image);
    console.log(data441a[hrs].data[myParam1].url);
    console.log(data441a[hrs].data.length);
    console.log("shit dude");
};
  xhttp1.open("GET", "/nft.json", true);
  xhttp1.send();
}

loadDoc();
</script>
<body class="switch-scheme">
    <div id="wrapper">

            <!-- header begin -->
            {% include header1.html %}
            <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            

            <section id="nft-item-details" aria-label="section" class="sm-mt-0">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-md-6 text-center">
                            <div class="nft-image-wrapper">
                                <img src="/images/items/big-6.jpg" class="image-autosize img-fluid img-rounded mb-sm-30" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item_info">
                                <h2>Diminishable #108</h2>
                             
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                                <div class="d-flex flex-row">
                                   
                                    <div>
                                        <h6>Collection</h6>
                                        <div class="item_author">                                    
                                            <div class="author_list_pp">
                                                <a href="collection.html">
                                                    <img class="lazy" src="/images/collections/coll-thumbnail-3.jpg" alt="">
                                                   
                                                </a>
                                            </div>                                    
                                            <div class="author_list_info">
                                                <a href="07_modern-collection.html">Diminishable</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="spacer-40"></div>

                                <div class="de_tab tab_simple">
    
                             
                                
                                <div class="de_tab_content">
                                    <div class="tab-1">
                                        <h6>Properties</h6>
                                        <div class="row gx-2">
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Background</h5>
                                                    <h4>Yellowish Sky</h4>
                                                    <span>85% have this trait</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Eyes</h5>
                                                    <h4>Purple Eyes</h4>
                                                    <span>14% have this trait</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Nose</h5>
                                                    <h4>Small Nose</h4>
                                                    <span>45% have this trait</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Mouth</h5>
                                                    <h4>Smile Red Lip</h4>
                                                    <span>61% have this trait</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Neck</h5>
                                                    <h4>Pink Ribbon</h4>
                                                    <span>27% have this trait</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Hair</h5>
                                                    <h4>Pink Short</h4>
                                                    <span>35% have this trait</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Accessories</h5>
                                                    <h4>Heart Necklace</h4>
                                                    <span>33% have this trait</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Hat</h5>
                                                    <h4>Cute Panda</h4>
                                                    <span>62% have this trait</span>
                                                </a>
                                            </div>      
                                            <div class="col-lg-4 col-md-6 col-sm-6">
                                                <a href="#" class="nft_attr">
                                                    <h5>Clothes</h5>
                                                    <h4>Casual Purple</h4>
                                                    <span>78% have this trait</span>
                                                </a>
                                            </div>                                   
                                        </div>
                                        <div class="spacer-30"></div>
                                    </div>

                                   
                                    
                                    
                                </div>

                                <div class="spacer-10"></div>

                                <h6>Price</h6>
                                <div class="nft-item-price"><img src="/images/misc/ethereum.svg" alt=""><span>0.059</span>($253.67)</div>

                                <!-- Button trigger modal -->
                                <a href="#" class="btn-main btn-lg" data-bs-toggle="modal" data-bs-target="#buy_now">
                                  Buy Now
                                </a>
                                &nbsp;
                              
                                
                            </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			
			
        </div>
        <!-- content close -->

        <!-- buy now -->
        <div class="modal fade" id="buy_now" tabindex="-1" aria-labelledby="buy_now" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered de-modal">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body">
                <div class="p-3 form-border">
                    <h3>Checkout</h3>
                    You are about to purchase a <b>Diminishable #108</b> from <b>Monica Lucas</b>
                    <div class="spacer-single"></div>
                    <h6>Enter quantity. <span class="id-color-2">10 available</span></h6>
                    <input type="text" name="buy_now_qty" id="buy_now_qty" class="form-control" value="1" />
                    <div class="spacer-single"></div>
                    <div class="de-flex">
                        <div>Your balance</div>
                        <div><b>10.67856 ETH</b></div>
                    </div>
                    <div class="de-flex">
                        <div>Service fee 2.5%</div>
                        <div><b>0.00325 ETH</b></div>
                    </div>
                    <div class="de-flex">
                        <div>You will pay</div>
                        <div><b>0.013325 ETH</b></div>
                    </div>
                    <div class="spacer-single"></div>
                    <a href="wallet.html" target="_blank" class="btn-main btn-fullwidth">Add funds</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- place a bid -->
        <div class="modal fade" id="place_a_bid" tabindex="-1" aria-labelledby="place_a_bid" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered de-modal">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body">
                <div class="p-3 form-border">
                    <h3>Place a Bid</h3>
                    You are about to place a bid for <b>Diminishable #108</b> from <b>Monica Lucas</b>
                    <div class="spacer-single"></div>
                    <h6>Your bid (ETH)</h6>
                    <input type="text" name="bid_value" id="bid_value" class="form-control" placeholder="Enter bid" />
                    <div class="spacer-single"></div>
                    <h6>Enter quantity. <span class="id-color-2">10 available</span></h6>
                    <input type="text" name="bid_qty" id="bid_qty" class="form-control" value="1" />
                    <div class="spacer-single"></div>
                    <div class="de-flex">
                        <div>Your bidding balance</div>
                        <div><b>0.013325 ETH</b></div>
                    </div>
                    <div class="de-flex">
                        <div>Your balance</div>
                        <div><b>10.67856 ETH</b></div>
                    </div>
                    <div class="de-flex">
                        <div>Service fee 2.5%</div>
                        <div><b>0.00325 ETH</b></div>
                    </div>
                    <div class="de-flex">
                        <div>You will pay</div>
                        <div><b>0.013325 ETH</b></div>
                    </div>
                    <div class="spacer-single"></div>
                    <a href="wallet.html" target="_blank" class="btn-main btn-fullwidth">Place a bid</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a href="#" id="back-to-top"></a>
        
    </div>
<!--
    <div id="selector">
        <div id="demo-rtl" class="sc-opt">
            <div class="sc-icon">RTL</div><span class="sc-val">Click to Enable</span>
        </div>        
    </div>
    -->
    {% include bottomscript.html %}


</body>

</html>