<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

 
</head> 
<body onload="renderHTML()">
  <div id="wrapper" style="background-size: cover;">

    <!-- header begin -->
    {% include header.html %}
    <!-- header close -->
<!-- content begin -->
<div class="no-bottom no-top" id="content" style="background-size: cover;">
    <div id="top" style="background-size: cover;"></div>
    
 
    

    <section aria-label="section" class="d_coll no-top" style="background-size: cover;">
        <div class="container" style="background-size: cover;">
  <div class="row" style="background-size: cover;">
      <div id="profile_dude1" class="col-md-12" style="background-size: cover;">
              
                </div>

                <div class="col-md-12" style="background-size: cover;">
                    <div class="de_tab tab_simple" style="background-size: cover;">

                       
                        
                        <div class="de_tab_content" style="background-size: cover;">
                            
                            <div id="tab_dude" class="tab-1" style="background-size: cover;">
                              
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
</div>
    </section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>

<!-- footer begin -->
{% include footer.html %}
<!-- footer close -->
<div id="demo"></div>
</div>
 
      <!--<header>
        <h1>JSON and AJAX</h1>
        <button id="btn">Fetch Info for 3 New Animals</button>
      </header>
      <div id="animal-info"></div>-->
</body>
<script>
    
    var myParam = location.search.split('catno=')[1]
console.log(myParam);
var result = document.getElementById("top");
var result1 = document.getElementById("profile_dude1");

    var container1 = document.createElement('div');
 

   function loadDoc() {
  const xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
   // document.getElementById("demo").innerHTML = this.responseText;
//testing -------------------------------


const data441 = JSON.parse(this.responseText);
    console.log(data441[myParam]);
    var htmlString = data441[myParam].cat_image;
    var htmlString3 = data441[myParam].name;
    var htmlString5 = data441[myParam].cat_background_image;
    var htmlString6 = data441[myParam].data;
    console.log(htmlString6);
     var htmlString2 = `<section id="profile_banner" aria-label="section" class="text-light" data-bgimage="url(/images/nft/`+htmlString3+`/`+htmlString+`) top" style="background: url(&quot;/images/nft/`+htmlString3+`/`+htmlString+`&quot;) center top / cover;"></section>`
     document.getElementById("profile_dude1").innerHTML += `<div class="d_profile" style="background-size: cover;">
                            <div class="profile_avatar" style="background-size: cover;">
                                <div class="d_profile_img" style="background-size: cover;">
                                    <img src="/images/nft/`+htmlString3+`/`+htmlString+`" alt="">
                                </div>
                                <div class="profile_name" style="background-size: cover;">
                                    <h4>
                                        `+htmlString3+`                                                
                                        <div class="clearfix" style="background-size: cover;"></div>
                                    </h4>
                                </div>
                            </div>
                    </div>`;
                    const colors = htmlString6;
for (var i = 0; i < colors.length; i++) {
  var number_dude = i+1;
  var number_dude1 = i;
  var number_dude2 = i+1;
  var number_dude3 = i+2;
  var number_dude4 = i+3;
  var number_dude5 = i+4;
 // var newLi = document.createElement("li");
 // newLi.innerHTML = colors[i];
  if(i%4==0){

    document.getElementById("tab_dude").innerHTML += `<div id="dude_www`+ number_dude +`" class="row" style="background-size: cover;"></div>`;

    if (i < colors.length) {document.getElementById("dude_www"+number_dude).innerHTML += `<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
                                          <div class="nft__item" style="background-size: cover;">
                                              <div class="author_list_pp" style="background-size: cover;">
                                                  <a href="#">                                    
                                                      <img class="lazy" src="/images/nft/`+htmlString3+`/`+htmlString+`" alt="">
                                                    
                                                  </a>
                                              </div>
                                              <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                                                  <div class="nft__item_extra" style="background-size: cover;">
                                                      <div class="nft__item_buttons" style="background-size: cover;">
                                                          <button onclick="location.href='/nftsingle.html?catno=1&nftno=1'">Buy Now</button>
                                                          <div class="nft__item_share" style="background-size: cover;">
                                                              <h4>Share</h4>
                                                              <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                              <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                              <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <a href="/nftsingle.html?catno=1&nftno=1">
                                                      <img src="/images/nft/`+htmlString3+`/`+colors[i].url+`" class="lazy nft__item_preview" alt="" style="display: inline;">
                                                  </a>
                                              </div>
                                              <div class="nft__item_info" style="background-size: cover;">
                                                  <a href="/nftsingle.html?catno=1&nftno=1">
                                                      <h4>`+htmlString3+` #`+number_dude+`</h4>
                                                  </a>
                                                  <div class="nft__item_click" style="background-size: cover;">
                              <span></span>
                          </div>
                          <div class="nft__item_price" style="background-size: cover;">
                                                      0.02 ETH<span>`+number_dude+`/`+colors.length+`</span>
                                                  </div>
                                                  <div class="nft__item_action" style="background-size: cover;">
                                                      <a href="#">Place a bid</a>
                                                  </div>                               
                                              </div> 
                                          </div>
                                      </div>`;}
    
    if (number_dude < colors.length) {document.getElementById("dude_www"+number_dude).innerHTML += `<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
        <div class="nft__item" style="background-size: cover;">
            <div class="author_list_pp" style="background-size: cover;">
                <a href="#">                                    
                    <img class="lazy" src="/images/nft/`+htmlString3+`/`+htmlString+`" alt="">
                  
                </a>
            </div>
            <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                <div class="nft__item_extra" style="background-size: cover;">
                    <div class="nft__item_buttons" style="background-size: cover;">
                        <button onclick="location.href='/nftsingle.html?catno=1&nftno=1'">Buy Now</button>
                        <div class="nft__item_share" style="background-size: cover;">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="/nftsingle.html?catno=1&nftno=1">
                    <img src="/images/nft/`+htmlString3+`/`+colors[number_dude].url+`" class="lazy nft__item_preview" alt="" style="display: inline;">
                </a>
            </div>
            <div class="nft__item_info" style="background-size: cover;">
                <a href="/nftsingle.html?catno=1&nftno=1">
                    <h4>`+htmlString3+` #`+number_dude3+`</h4>
                </a>
                <div class="nft__item_click" style="background-size: cover;">
<span></span>
</div>
<div class="nft__item_price" style="background-size: cover;">
                    0.02 ETH<span>`+number_dude3+`/`+colors.length+`</span>
                </div>
                <div class="nft__item_action" style="background-size: cover;">
                    <a href="#">Place a bid</a>
                </div>                               
            </div> 
        </div>
    </div>`;}

    if (number_dude3 < colors.length) {document.getElementById("dude_www"+number_dude).innerHTML += `<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
        <div class="nft__item" style="background-size: cover;">
            <div class="author_list_pp" style="background-size: cover;">
                <a href="#">                                    
                    <img class="lazy" src="/images/nft/`+htmlString3+`/`+htmlString+`" alt="">
                  
                </a>
            </div>
            <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                <div class="nft__item_extra" style="background-size: cover;">
                    <div class="nft__item_buttons" style="background-size: cover;">
                        <button onclick="location.href='/nftsingle.html?catno=1&nftno=1'">Buy Now</button>
                        <div class="nft__item_share" style="background-size: cover;">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="/nftsingle.html?catno=1&nftno=1">
                    <img src="/images/nft/`+htmlString3+`/`+colors[number_dude3].url+`" class="lazy nft__item_preview" alt="" style="display: inline;">
                </a>
            </div>
            <div class="nft__item_info" style="background-size: cover;">
                <a href="/nftsingle.html?catno=1&nftno=1">
                    <h4>`+htmlString3+` #`+number_dude4+`</h4>
                </a>
                <div class="nft__item_click" style="background-size: cover;">
<span></span>
</div>
<div class="nft__item_price" style="background-size: cover;">
                    0.02 ETH<span>`+number_dude4+`/`+colors.length+`</span>
                </div>
                <div class="nft__item_action" style="background-size: cover;">
                    <a href="#">Place a bid</a>
                </div>                               
            </div> 
        </div>
    </div>`;}

    if (number_dude4 < colors.length) {document.getElementById("dude_www"+number_dude).innerHTML += `<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="background-size: cover;">
        <div class="nft__item" style="background-size: cover;">
            <div class="author_list_pp" style="background-size: cover;">
                <a href="#">                                    
                    <img class="lazy" src="/images/nft/`+htmlString3+`/`+htmlString+`" alt="">
                  
                </a>
            </div>
            <div class="nft__item_wrap" style="background-size: cover; height: 264.4px;">
                <div class="nft__item_extra" style="background-size: cover;">
                    <div class="nft__item_buttons" style="background-size: cover;">
                        <button onclick="location.href='/nftsingle.html?catno=1&nftno=1'">Buy Now</button>
                        <div class="nft__item_share" style="background-size: cover;">
                            <h4>Share</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="https://twitter.com/intent/tweet?url=https://madebydesignesia.com/themes" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://madebydesignesia.com/themes"><i class="fa fa-envelope fa-lg"></i></a>
                        </div>
                    </div>
                </div>
                <a href="/nftsingle.html?catno=1&nftno=1">
                    <img src="/images/nft/`+htmlString3+`/`+colors[number_dude4].url+`" class="lazy nft__item_preview" alt="" style="display: inline;">
                </a>
            </div>
            <div class="nft__item_info" style="background-size: cover;">
                <a href="/nftsingle.html?catno=1&nftno=1">
                    <h4>`+htmlString3+` #`+number_dude5+`</h4>
                </a>
                <div class="nft__item_click" style="background-size: cover;">
<span></span>
</div>
<div class="nft__item_price" style="background-size: cover;">
                    0.02 ETH<span>`+number_dude5+`/`+colors.length+`</span>
                </div>
                <div class="nft__item_action" style="background-size: cover;">
                    <a href="location.href='/nftsingle.html?catno=1&nftno=1'">Place a bid</a>
                </div>                               
            </div> 
        </div>
    </div>`;}
  
  }
}

    result.insertAdjacentHTML('afterend',htmlString2);
 


//testing -------------------------------
  }
  xhttp.open("GET", "/nft.json", true);
  xhttp.send();
}
loadDoc();

</script> 
{% include bottomscript.html %}
</html>