<!DOCTYPE html>
<html lang="zxx">

    {% include head.html %}

<body>
    <div id="wrapper">

        {% include header.html %}
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="profile_banner" aria-label="section" class="text-light" data-bgimage="url(images/background/4.jpg) top">
                    
            </section>
            <!-- section close -->
            

            <section aria-label="section" class="d_coll no-top">
                <div class="container">
                    {{ content }}
				
				</div>
            </section>
			
			
        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
        
        {% include footer.html %}
        
    </div>
    {% include bottomscript.html %}
</body>
</html>